.hero-section {
    background: linear-gradient(rgba(26, 37, 47, 0.85), rgba(26, 37, 47, 0.85));
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-blanco);
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 35px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.btn-cta {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    padding: 14px 35px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.btn-cta:hover {
    background-color: #b34700;
}